.js-clock{
    text-align: center;
    padding-top: 200px;
}
.js-toDoList{
    list-style: none;
    }
.js-toDoList button{
    margin-right: 30px;
}
.js-toDoList span{
    margin-right: 50px;

}
#clock{
    font-size: 45px;
    margin-bottom: 0;
}
#js-form{
    border-top: 0px;
    border-left: 10px;
    border-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-color: white;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: #7f8c8d;
}
#toDoForm{
    border-top: 0px;
    border-left: 10px;
    border-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-color: white;
    text-align: center;
    box-shadow: #7f8c8d;
    opacity: 100%;
    border-radius: 10px;
    font-size:14px;
}

body{
    margin: 0;
    padding: 0;
    background-color:none;
    color: white;
    height: 2800px;
}


#s{
    opacity: 0%;
}

#search{
    width: 450px;
    height: 30px;
    margin-top: 30px;
    font-size   : 14px;
    border-radius: 10px;
    border-top: none;
    border-left:5px;
    border-color:white;
    padding-left: 45px;
};
.container{
    width: 300px;
    white-space: nowrap;
    position: relative;
}
.icon{
    color: gray;
    position: absolute;
    margin-top: 35px;
    margin-left: 15px;
}


.clicked{
    color: #7f8c8d;
}

.btn{
    cursor: pointer;
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block;
    font-size: 30px;
    margin-top: 15px;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgimage{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    animation: fadeIn 0.5s linear;

}


#downBtn{
    position: fixed;
    top:860px;
    left:1818px;
    width: 40px;
    height: 40px;
    /* -webkit-filter: invert(100%); */
    
}
#middleBtn{
    position: fixed;
    top:830px;
    left:1818px;
    width: 40px;
    height: 40px;
    /* -webkit-filter: invert(100%); */
    
}

#upBtn{
    position: fixed;
    top:800px;
    left:1818px;
    width: 40px;
    height: 40px;
    /* -webkit-filter: invert(100%); */
}
.kbs2,
.naverSport2{
    visibility:hidden;
}
.showKbs,
.showNaverSport{
    visibility:visible;
}

#memo:hover,
#scrollup:hover{
    opacity: 80%;
    
}
