/*테마 네모 아이콘*/
.dropbtn{
    background-color: transparent;
    color:white;
    border:none;
    cursor:pointer;
}
/*테마 네모 아이콘 hover & focus*/
.dropbtn:hover, .dropbtn:focus{
    opacity:0.5;
}

/* 가장 밖에 있는 div  */
.themeDropDown{
    display: block;
    float:  left;
    padding: 10px 20px;
    margin: 10px 20px;
}

/* 드롭다운 테마 콘텐츠 (기본) 숨기기  */
.dropdown-theme{
    display:none;
    position:absolute;
    /* background-color: transparent; */
    background-color: rgba(231, 231, 248, 0.335);
    min-width: 10px;
    z-index:1;
    margin-left: -20px;
    margin-top: 20px;
    list-style:none;
}

/* Dropdown Content hover & focus*/
.dropdown-theme:hover, .dropdown-theme:focus{
    /* background-color: transparent; */
    background-color:rgb(230, 230, 251, 0.335);
    border: 2px solid white;
}


/* 테마 버튼 공통 속성 */
.theme-button{
    float: left;
    width:30px;
    height:30px;
    margin: 20px 20px 20px -20px;
    padding: 0;
    border-top: 15px solid var(--theme-primary);
    border-bottom: 15px solid var(--theme-secondary);
    border-right:0;
    border-left:0;
    /* border: 1px solid white; */
}

#bg-default{
    border-color: white;
}

#bg-default:hover, #bg-default:focus{
    background-color: white;
    border:2px solid black;
}

#bg-black:hover, #bg-black:focus, #bg-grey:hover, #bg-grey:focus, #bg-navy:hover, #bg-navy:focus{
    background-color: var(--theme-primary);
    border:2px solid white;
}







/* 드롭메뉴 보여주기 */
.show {display:block;

}
