#kbs{
    display: block;
    float: right;
    position: relative;
    left: 285px;
    top: 115px;
}
#naverSport{
    display: block;
    float: right;
    position: relative;
    left: 417px;
    top: 113px;
}

#memo{
    display: block;
    
    position: relative;
   
    top: 600px;
}
#scrollup{
    display: block;

    position: relative;

    top: 700px;
}

header a{
    display: block;
    float: right;
    padding: 10px 20px;
    margin: 10px 20px;
}
.far{
    color: white;
}

#scrollup2{
    display: block;

    position: relative;

    top: 1640px;
    color: black;
}

#scrolldown2{
    display: block;

    position: relative;

    top: 1480px;
}
.arrow{
    text-align: center;
    height: 0;
    width: auto;
}